<section class="hero">
  <app-ant-colony />
  <h1>Daniel Fast – <em>ITA</em>, Hardware-Enthusiast & angehender Mechatroniker / Entwickler</h1>
  <p>
    Ich bin im ITA-Ausbildung bei BIB und interessiere mich besonders für Hardware, Server-Infrastruktur,
    CAD und Automatisierung. Meine Leidenschaft liegt an der Schnittstelle von Mechanik, Elektronik und Software,
    wo ich moderne technische Lösungen mit realem Mehrwert entwickeln möchte. Langfristig will ich Systeme
    bauen, die nicht nur funktionieren, sondern auch clever, robust und nachvollziehbar für den Alltag sind.
  </p>
</section>
